<div class="container">
    <div class="row">
        <div class="col-xs-6">
          <h1><%= @user.name %> さんとのチャット</h1>

            <div class="message" style="width: 400px;">
              <%= render "message", chats: @chats %>
            </div>

            <div class="errors">
              <%= render "layouts/errors", obj: @chat %>
            </div>

            <%= form_with model: @chat,  local: false do |f| %>
              <%= f.text_field :message %>
              <%= f.hidden_field :room_id %>
              <%= f.submit "送信", class:"btn btn-sm btn-success chat-btn" %>
            <% end %>
        </div>
    </div>
</div>
